{% extends 'base.html.twig' %}

{% block title 'E-Buy | Panier' %}

{% block body %}
    <div class="container mb-12">
        <h1 class="text-4xl font-bold mt-8">Liste de panier</h1>
        {% if articles %}
            <div class="mt-8">
                <div class="grid font-medium grid-cols-5 cursor-default px-3 duration-150 py-4 text-xl text-left justify-between">
                    <h4>Nom</h4>
                    <h4>Prix unitaire</h4>
                    <h4>Quantite</h4>
                    <h4>Prix total</h4>
                    <h4 class="text-center">Supprimer</h4>
                </div>
                {% for article in articles %}
                    <div class="grid grid-cols-5 hover:bg-gray-300 px-3 duration-150 cursor-pointer py-4 text-left justify-between">
                        <h4>{{ article.name }}</h4>
                        <h4>{{ article.price_unity }} $</h4>
                        <h4>{{ article.price }} $</h4>
                        <article-commande {% if app.user %}data-user="{{ app.user.id }}"{% endif%} data-show="false" data-quantity="{{ article.quantity }}" data-default="{{ article.cart_quantity }}" data-article="{{ article.id }}"></article-commande>
                        <form class="text-center" action="">
                            <button class="px-3 py-2 rounded shadow-sm hover:bg-red-500 duration-200 bg-red-400 text-white"><Icon-feather name="minus" size="16"></Icon-feather></button>
                        </form>
                    </div>
                    <hr/>

                {% endfor %}

                <form action="" class="">
                    <button class="px-3 py-2 text-white mt-4 bg-green-400 shadow rounded">Acheter</button>
                </form>
            </div>
        {% else %}
            <em class="text-2xl font-medium inline-block mt-12">
                Desole, vous n'avez pas encore selectionner d'article pour le moment  :(
            </em>
        {% endif %}
    </div>
{% endblock %}