<div class="py-4 text-gray-600 border bg-white dark:border-transparent dark:bg-slate-900 dark:text-white dark:border-b-slate-800 border-b-green-50">
    <div class="container">
        <div class="flex justify-between">
            <a href="{{ path("home.index") }}"
               class="text-center text-green-300 hover:text-green-400 duration-300 flex justify-center items-center gap-4">
                <icon-feather name="ebuy2" size="24"></icon-feather>
                <p class="font__luckiest  text-3xl">E-buy</p>
            </a>
            <search-article aria-action={{ path('search') }}></search-article>
            <div class="md:flex hidden">
                <ul class="justify-center items-center font-medium md:flex md:gap-4">
                    {% if not app.user %}
                        <a class="hover:text-green-400 duration-300 pl-2" {{ menu_active("app_login") }} id="link"
                           href="{{ path('app_login') }}">
                            <li class="flex items-center justify-center gap-1">
                                <icon-feather name="user" size="16"></icon-feather>
                                Se connecter
                            </li>
                        </a>
                        <a class="hover:text-green-400 duration-300 pl-2" id="link" {{ menu_active("user.register") }}
                           href="{{ path('user.register') }}">
                            <li class="flex items-center justify-center gap-1">S'inscrire</li>
                        </a>
                    {% else %}
                        <a class="hover:text-slate-900  pl-2" id="link" href="#">
                            <li class="flex items-center justify-center gap-1">
                                <icon-feather name="user" size="15"></icon-feather>
                                {{ app.user.email }}</li>
                        </a>
                        <a class="hover:text-slate-900 duration-300 pl-2" id="link" href="#">
                            <a href="{{ path('cart.show') }}" class="flex items-center relative justify-center gap-1">
                                <icon-feather name="cart" size="32"></icon-feather>
                                <span id="cart-notification"
                                      data-cart="{{ cart }}"
                                      class="absolute w-4 flex items-center justify-center h-4 bg-red-500 {% if cart == 0 %}hidden{% endif %} rounded-full text-white inline-block text-xs text-center bottom-1 right-0">!</span>
                            </a>
                        </a>
                        <a class="hover:text-slate-900 duration-300 pl-2" id="link" href="">
                            <li class="flex items-center relative justify-center gap-1">
                                <icon-feather name="setting" size="20"></icon-feather>
                        </a>
                        <a class="hover:text-slate-900 hover:font-bold duration-100 pl-2"
                           id="link" {{ menu_active("app_logout") }} href="{{ path('app_logout') }}">
                            <icon-feather name="logout" size="15"/>
                        </a>
                    {% endif %}
                    <button-theme {% if app.user %}data-default-theme="{{ app.user.theme }}"{% endif %}></button-theme>
                </ul>
            </div>
            <div class="max-md:flex flex-row items-center  gap-2 hidden">
                <button class="duration-100 hover:text-green-500">
                    <icon-feather name="search" size="18"></icon-feather>
                </button>
                <button class="duration-100 hover:text-green-500">
                    <icon-feather name="menu" size="18"></icon-feather>
                </button>
            </div>
        </div>
    </div>
</div>
