{% extends 'base.html.twig' %}

{% block title %}Inscription | e-shop
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-medium mb-12 mt-8 text-center">S'inscrire</h1>

	<div class="border md:px-6 md:max-w-sm px-8 pb-12 pt-6 mt-12 max-w-md mx-auto relative border-gray-100 text-gray-600 rounded">
		{{form_start(form)}}
		{{form_row(form.email)}}
		{{form_row(form.password)}}
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="px-4 py-2 rounded-sm shadow bg-green-500 self-start text-white hover:bg-green-400 duration-300">S'inscrire</button>
		{{form_end(form)}}
		<p class="text-sm mt-8">Vos données personnelles (email et nom d'utilisateur) ne sont utilisées qu'à des fins d'authentification et ne sont pas partagées avec des tiers (En savoir plus).</p>
		<a href="{{path('app_login')}}" class="absolute bottom-4 text-gray-900">Se connecter</a>
	</div>
{% endblock %}
